/**
 * Navigation Menu CSS File
 */

.navigation-menu {
  background-color: var(--color-body);
}

/** 
 * Navigation Specific Animations
 */

/* Animation scale-down-h-top */

.scale-down-h-top {
  -webkit-animation: scale-down-h-top 0.25s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-down-h-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-down-h-top {
  0% {
    height: 3.5rem;
  }
  100% {
    height: 1.75rem;
  }
}
@keyframes scale-down-h-top {
  0% {
    height: 3.5rem;
  }
  100% {
    height: 1.75rem;
  }
}

/* Animation scale-up-h-top */

.scale-up-h-top {
  -webkit-animation: scale-up-h-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-up-h-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-up-h-top {
  0% {
    height: 1.75rem;
  }
  100% {
    height: 3.5rem;
  }
}
@keyframes scale-up-h-top {
  0% {
    height: 1.75rem;
  }
  100% {
    height: 3.5rem;
  }
}

/** Animation scale-down-p-top */

.scale-down-p-top {
  -webkit-animation: scale-down-p-top 0.25s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-down-p-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-down-p-top {
  0% {
    padding: 1.75rem 0;
  }
  100% {
    padding: 0.875rem 0;
  }
}
@keyframes scale-down-p-top {
  0% {
    padding: 1.75rem 0;
  }
  100% {
    padding: 0.875rem 0;
  }
}

/* Animation scale-up-p-top */

.scale-up-p-top {
  -webkit-animation: scale-up-p-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-up-p-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-up-p-top {
  0% {
    padding: 0.875rem 0;
  }
  100% {
    padding: 1.75rem 0;
  }
}
@keyframes scale-up-p-top {
  0% {
    padding: 0.875rem 0;
  }
  100% {
    padding: 1.75rem 0;
  }
}
