/**
 * Colour Change Link Animation
 * Changes the colour using an easeInQuad timing-function.
 * References: https://animista.net
 */

.color-change-link {
  -webkit-animation: color-change-link 0.25s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: color-change-link 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes color-change-link {
  0% {
    color: var(--color-text-accent);
  }
  100% {
    color: var(--color-text-link);
  }
}

@keyframes color-change-link {
  0% {
    color: var(--color-text-accent);
  }
  100% {
    color: var(--color-text-link);
  }
}

.color-change-link:hover {
  -webkit-animation: color-change-link 0.25s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: color-change-link 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes color-change-link-hover {
  0% {
    color: var(--color-text-link);
  }
  100% {
    color: var(--color-text-accent);
  }
}

@keyframes color-change-link-hover {
  0% {
    color: var(--color-text-link);
  }
  100% {
    color: var(--color-text-accent);
  }
}
