.left-sidebar-nav {
  padding: var(--p-regular);
  flex-direction: column;
  display: flex;
}
.left-sidebar-header {
  display: flex;
  flex-direction: row-reverse;
}
.left-sidebar-items {
  list-style: none;
  a {
    text-decoration: none;
  }
}
