.slide {
  color: var(--color-white);
  display: inline-block;
  position: relative;
}
.slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.25rem;
  width: calc(100% + 0.5rem);
  height: 100%;
  background-color: var(--color-primary);
  z-index: -1;
}
.slide:hover:before {
  -webkit-animation: scale-in-hor-left 0.3s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: scale-in-hor-left 0.3s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.shuffle {
}
/* Slide in effect for pseudo before */
@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
