.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: var(--s-14);
  background-color: #fff;
  color: black;
}
.navbar-icon {
  width: 16px;
  height: 16px;
}
.brand-name {
  text-decoration: none;
  color: black;
  font-size: var(--fs-3);
  line-height: var(--lh-3);
  font-family: var(--font-sans);
  font-weight: var(--font-black);
  background: linear-gradient(
    39deg,
    var(--pink) 12%,
    transparent 12%,
    transparent 12.5%,
    var(--red) 12.5%,
    var(--red) 24.5%,
    transparent 24.5%,
    transparent 25%,
    var(--orange) 25%,
    var(--orange) 37%,
    transparent 37%,
    transparent 37.5%,
    var(--yellow) 37.5%,
    var(--yellow) 49.5%,
    transparent 49.5%,
    transparent 50%,
    var(--green) 50%,
    var(--green) 62%,
    transparent 62%,
    transparent 62.5%,
    var(--aqua) 62.5%,
    var(--aqua) 74.6%,
    transparent 74.5%,
    transparent 75%,
    var(--blue) 75%,
    var(--blue) 87%,
    transparent 87%,
    transparent 87.5%,
    var(--purple) 87.5%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu .menus {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  // removes default disc bullet for li tags and applies margin to left & right side
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  // increases the surface area of the anchor tag to span more than just the anchor text
  text-decoration: none;
  display: block;
  width: 100%;
}
.hamburger {
  // removes default border on button element
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  // positions the icon to the right and center aligns it vertically
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}
.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  z-index: 10;
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items > a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .brand-name {
    font-size: var(--fs-2);
    line-height: var(--lh-2);
  }
  .navigation-menu .menus {
    // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
    position: absolute;
    top: 60px;
    left: 0;
    // stacks the li tags vertically
    flex-direction: column;
    // makes menu span full height and width
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }
  .navigation-menu.expanded .menus {
    display: block;
  }
  .navigation-menu li {
    // centers link text and strips off margin
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    // increases the surface area of the anchor tag to span the full width of the menu
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}
