:root {
  /* Primary Colours */
  --dark600: #1a1e22;
  --dark500: #22282e;
  --dark400: #2b3239;
  --dark300: #555b61;
  --dark200: #808488;
  --dark100: #aaadb0;
  --light100: #ffffff;
  --light200: #e6e6e6;
  --light300: #cccccc;
  --light400: #b3b3b3;
  --light500: #999999;
  --light600: #808080;
  /* Rainbow Colours */
  --pink: #ffc4eb;
  --red: #f4845f;
  --orange: #e3ad69;
  --yellow: #fed766;
  --green: #b9e3c6;
  --aqua: #bbe5ed;
  --blue: #91b1d9;
  --purple: #8d86c9;
}

:root {
  --color-primary: var(--dark400);
  --color-secondary: var(--light100);
  --color-muted: var(--light300);
  --color-black: var(--dark400);
  --color-white: var(--light100);
  --color-pink: var(--pink);
  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-aqua: var(--aqua);
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-accent: var(--yellow);
}
:root.dark-mode {
  --color-primary: var(--light100);
  --color-secondary: var(--dark400);
  --color-muted: var(--light300);
  --color-black: var(--dark500);
  --color-white: var(--light100);
}
