@font-face {
  font-family: "bely";
  src: url("../../fonts/bely/bely.woff2") format("woff2"),
    url("../../fonts/bely/bely.woff") format("woff"),
    url("../../fonts/bely/bely.otf") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "bely";
  src: url("../../fonts/bely/belyItalic.woff2") format("woff2"),
    url("../../fonts/bely/belyItalic.woff") format("woff"),
    url("../../fonts/bely/belyItalic.otf") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "bely";
  src: url("../../fonts/bely/belyBold.woff2") format("woff2"),
    url("../../fonts/bely/belyBold.woff") format("woff"),
    url("../../fonts/bely/belyBold.otf") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "bely";
  src: url("../../fonts/bely/belyBoldItalic.woff2") format("woff2"),
    url("../../fonts/bely/belyBoldItalic.woff") format("woff"),
    url("../../fonts/bely/belyBoldItalic.otf") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}
